In [1]:
import pandas as pd

In [2]:
data = pd.read_csv('iris.csv')

In [3]:
data.columns

Index(['sepal_length', 'sepal_width', 'petal_length', 'petal_width',
       'species'],
      dtype='object')

In [4]:
data.dtypes

sepal_length    float64
sepal_width     float64
petal_length    float64
petal_width     float64
species          object
dtype: object

In [5]:
data.describe()

       sepal_length  sepal_width  petal_length  petal_width
count    150.000000   150.000000    150.000000   150.000000
mean       5.843333     3.054000      3.758667     1.198667
std        0.828066     0.433594      1.764420     0.763161
min        4.300000     2.000000      1.000000     0.100000
25%        5.100000     2.800000      1.600000     0.300000
50%        5.800000     3.000000      4.350000     1.300000
75%        6.400000     3.300000      5.100000     1.800000
max        7.900000     4.400000      6.900000     2.500000

In [6]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 5 columns):
sepal_length    150 non-null float64
sepal_width     150 non-null float64
petal_length    150 non-null float64
petal_width     150 non-null float64
species         150 non-null object
dtypes: float64(4), object(1)
memory usage: 5.9+ KB

In [7]:
data.isnull().any()

sepal_length    False
sepal_width     False
petal_length    False
petal_width     False
species         False
dtype: bool

In [8]:
data.species

0         setosa
1         setosa
2         setosa
3         setosa
4         setosa
5         setosa
6         setosa
7         setosa
8         setosa
9         setosa
10        setosa
11        setosa
12        setosa
13        setosa
14        setosa
15        setosa
16        setosa
17        setosa
18        setosa
19        setosa
20        setosa
21        setosa
22        setosa
23        setosa
24        setosa
25        setosa
26        setosa
27        setosa
28        setosa
29        setosa
         ...
120    virginica
121    virginica
122    virginica
123    virginica
124    virginica
125    virginica
126    virginica
127    virginica
128    virginica
129    virginica
130    virginica
131    virginica
132    virginica
133    virginica
134    virginica
135    virginica
136    virginica
137    virginica
138    virginica
139    virginica
140    virginica
141    virginica
142    virginica
143    virginica
144    virginica
145    virginica
146    virginica
147    virginica
148    virginica
149    virginica
Name: species, Length: 150, dtype: object

In [9]:
clean_data = pd.DataFrame()

In [10]:
clean_data['sepal_length'] = data['sepal_length']
clean_data['petal_length'] = data['petal_length']
clean_data['sepal_width'] = data['sepal_width']
#clean_data['species'] = convert_to_vector(data['species'])

In [11]:
clean_data.head(5)

   sepal_length  petal_length  sepal_width
0           5.1           1.4          3.5
1           4.9           1.4          3.0
2           4.7           1.3          3.2
3           4.6           1.5          3.1
4           5.0           1.4          3.6

In [12]:
data.isnull().any()

sepal_length    False
sepal_width     False
petal_length    False
petal_width     False
species         False
dtype: bool

In [13]:
def convert_to_vector(flower):
    if (flower == 'setosa'):
        return 0
    elif (flower == 'virginica'):
        return 2
    else:
        return 1

In [14]:
data['species'] = data['species'].map(convert_to_vector)

In [15]:
y = data['species']
x = data.drop(labels='species',axis=1)

In [16]:
from sklearn.utils import shuffle
x,y = shuffle(x,y)

In [22]:
y.index = y.index.sort_values()
x.index  = x.index.sort_values()

In [24]:
x.head(10)

   sepal_length  sepal_width  petal_length  petal_width
0           4.4          3.2           1.3          0.2
1           5.6          3.0           4.1          1.3
2           6.1          2.9           4.7          1.4
3           5.9          3.2           4.8          1.8
4           5.4          3.9           1.7          0.4
5           5.7          4.4           1.5          0.4
6           4.6          3.6           1.0          0.2
7           6.7          3.0           5.0          1.7
8           6.7          3.0           5.2          2.3
9           7.4          2.8           6.1          1.9

In [27]:
y.head(10)

0    0
1    1
2    1
3    1
4    0
5    0
6    0
7    1
8    2
9    2
Name: species, dtype: int64

In [29]:
from sklearn.linear_model import LogisticRegression

In [51]:
model = LogisticRegression(C=5,max_iter=1000)
model.fit(x,y)

LogisticRegression(C=5, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=1000, multi_class='ovr', n_jobs=1,
          penalty='l2', random_state=None, solver='liblinear', tol=0.0001,
          verbose=0, warm_start=False)

In [52]:
model.score(x,y)

0.9666666666666667